USE [TanKim]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 26-Feb-18 1:14:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Key] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Config] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floor]    Script Date: 26-Feb-18 1:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floor](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[FloorName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Floor] PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut]    Script Date: 26-Feb-18 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut](
	[InOutId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[PersonNumber] [int] NOT NULL,
	[CheckinTime] [datetime] NOT NULL,
	[CheckOutTime] [datetime] NOT NULL,
	[PayDate] [datetime] NOT NULL,
	[LengthStay] [decimal](18, 2) NOT NULL,
	[RoomServiceType] [int] NOT NULL,
	[RoomServiceAmount] [decimal](18, 2) NOT NULL,
	[OtherServiceAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDouble] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.InOut] PRIMARY KEY CLUSTERED 
(
	[InOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut_OtherServices]    Script Date: 26-Feb-18 1:27:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut_OtherServices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InOutId] [bigint] NOT NULL,
	[OtherServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InOut_OtherServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtherService]    Script Date: 26-Feb-18 1:31:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherService](
	[OtherServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OtherService] PRIMARY KEY CLUSTERED 
(
	[OtherServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26-Feb-18 1:35:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 26-Feb-18 1:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](max) NOT NULL,
	[FloorId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[IsDouble] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Room] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomServicePrice]    Script Date: 26-Feb-18 1:44:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomServicePrice](
	[RoomServicePriceId] [int] IDENTITY(1,1) NOT NULL,
	[RoomServiceType] [int] NOT NULL,
	[Minutes] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.RoomServicePrice] PRIMARY KEY CLUSTERED 
(
	[RoomServicePriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26-Feb-18 1:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Address] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Sex] [bit] NULL,
	[Phone] [varchar](20) NULL,
	[RoleID] [int] NULL,
	[Lock] [bit] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Config] ([Key], [Value]) VALUES (N'OverTimeAllow', N'15')
SET IDENTITY_INSERT [dbo].[Floor] ON 

INSERT [dbo].[Floor] ([FloorId], [FloorName]) VALUES (1, N'Tầng 1')
INSERT [dbo].[Floor] ([FloorId], [FloorName]) VALUES (2, N'Tầng 2')
INSERT [dbo].[Floor] ([FloorId], [FloorName]) VALUES (3, N'Tầng 3')
SET IDENTITY_INSERT [dbo].[Floor] OFF
SET IDENTITY_INSERT [dbo].[InOut] ON 

INSERT [dbo].[InOut] ([InOutId], [RoomId], [PersonNumber], [CheckinTime], [CheckOutTime], [PayDate], [LengthStay], [RoomServiceType], [RoomServiceAmount], [OtherServiceAmount], [TotalAmount], [Note], [Status], [IsDouble]) VALUES (412, 3, 1, CAST(N'2015-03-18T15:44:00.000' AS DateTime), CAST(N'2015-03-18T15:44:00.000' AS DateTime), CAST(N'2015-03-18T00:00:00.000' AS DateTime), CAST(48.00 AS Decimal(18, 2)), 0, CAST(50000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), NULL, 1, 0)
INSERT [dbo].[InOut] ([InOutId], [RoomId], [PersonNumber], [CheckinTime], [CheckOutTime], [PayDate], [LengthStay], [RoomServiceType], [RoomServiceAmount], [OtherServiceAmount], [TotalAmount], [Note], [Status], [IsDouble]) VALUES (413, 2, 1, CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T00:00:00.000' AS DateTime), CAST(24.00 AS Decimal(18, 2)), 0, CAST(50000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), NULL, 1, 0)
INSERT [dbo].[InOut] ([InOutId], [RoomId], [PersonNumber], [CheckinTime], [CheckOutTime], [PayDate], [LengthStay], [RoomServiceType], [RoomServiceAmount], [OtherServiceAmount], [TotalAmount], [Note], [Status], [IsDouble]) VALUES (414, 2, 1, CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T00:00:00.000' AS DateTime), CAST(24.00 AS Decimal(18, 2)), 0, CAST(50000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[InOut] OFF
SET IDENTITY_INSERT [dbo].[InOut_OtherServices] ON 

INSERT [dbo].[InOut_OtherServices] ([Id], [InOutId], [OtherServiceId], [Quantity]) VALUES (341, 452, 1, 1)
INSERT [dbo].[InOut_OtherServices] ([Id], [InOutId], [OtherServiceId], [Quantity]) VALUES (342, 452, 3, 1)
INSERT [dbo].[InOut_OtherServices] ([Id], [InOutId], [OtherServiceId], [Quantity]) VALUES (343, 455, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[InOut_OtherServices] OFF
SET IDENTITY_INSERT [dbo].[OtherService] ON 

INSERT [dbo].[OtherService] ([OtherServiceId], [ServiceName], [Price]) VALUES (1, N'Nước suối', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[OtherService] ([OtherServiceId], [ServiceName], [Price]) VALUES (2, N'Nước ngọt', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[OtherService] ([OtherServiceId], [ServiceName], [Price]) VALUES (3, N'Bò húc', CAST(15000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OtherService] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (2, N'Người dùng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomId], [RoomName], [FloorId], [Status], [IsDouble]) VALUES (1, N'Phòng 102', 1, 0, 1)
INSERT [dbo].[Room] ([RoomId], [RoomName], [FloorId], [Status], [IsDouble]) VALUES (2, N'Phòng 103', 1, 0, 1)
INSERT [dbo].[Room] ([RoomId], [RoomName], [FloorId], [Status], [IsDouble]) VALUES (3, N'Phòng 104', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[RoomServicePrice] ON 

INSERT [dbo].[RoomServicePrice] ([RoomServicePriceId], [RoomServiceType], [Minutes], [Price]) VALUES (1, 0, 65, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[RoomServicePrice] ([RoomServicePriceId], [RoomServiceType], [Minutes], [Price]) VALUES (2, 0, 80, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[RoomServicePrice] ([RoomServicePriceId], [RoomServiceType], [Minutes], [Price]) VALUES (3, 0, 120, CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RoomServicePrice] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Password], [Address], [FullName], [Sex], [Phone], [RoleID], [Lock]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [Address], [FullName], [Sex], [Phone], [RoleID], [Lock]) VALUES (2, N'hai', N'admin12344', NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [Address], [FullName], [Sex], [Phone], [RoleID], [Lock]) VALUES (3, N'HaiMaster', N'123456', NULL, NULL, NULL, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_RoleID]  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Lock]  DEFAULT ((0)) FOR [Lock]
GO
ALTER TABLE [dbo].[InOut]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InOut_dbo.Room_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[InOut] CHECK CONSTRAINT [FK_dbo.InOut_dbo.Room_RoomId]
GO
ALTER TABLE [dbo].[InOut_OtherServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.InOut_InOutId] FOREIGN KEY([InOutId])
REFERENCES [dbo].[InOut] ([InOutId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InOut_OtherServices] CHECK CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.InOut_InOutId]
GO
ALTER TABLE [dbo].[InOut_OtherServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.OtherService_OtherServiceId] FOREIGN KEY([OtherServiceId])
REFERENCES [dbo].[OtherService] ([OtherServiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InOut_OtherServices] CHECK CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.OtherService_OtherServiceId]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Room_dbo.Floor_FloorId] FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floor] ([FloorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_dbo.Room_dbo.Floor_FloorId]
GO
